.board-row {
    text-align: center;
}

.square-0, .square-1, .square-3, .square-4 {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.square-2, .square-5 {
    border-bottom: 2px solid black;
}

.square-6, .square-7 {
    border-right: 2px solid black;
}
