/* .board-row:after {
    clear: both;
    content: "";
    display: table;
} */

.board {
    position: relative;
}

.board-row {
    height: 30vmin;
}

.board-horizontal-line {
    position: absolute;
    height: 1vmin;
    width: 88vmin;
    left: 1vmin;
    border-radius: 50px;
    background-color: black;
}

.top-line {
    top: 29.5vmin;
}

.bottom-line {
    bottom: 29.5vmin;
}

.board-vertical-line {
    position: absolute;
    width: 5px;
    width: 1vmin;
    height: 88vmin;
    top: 1vmin;
    border-radius: 50px;
    background-color: black;
}

.left-line {
    left: 29.5vmin;
}

.right-line {
    right: 29.5vmin;
}